div.player.active {
    background: green;
}

div.player.inactive {
    background: red;
}

div.player.winner {
    background: yellow !important;
}

span#account {
    color: black !important;
}

.actual span {
    color: black !important;   
}

.actual{
    float: right;
}